.banner-principal {

    background:rgba(0, 0, 0, 0.4) url("../img/ba1.jpg");
    background-blend-mode: darken;
    height: 90vh;
    background-size: cover;
    background-position: 0% 75%;
}

footer {
    padding: 1%;
    background-color: rgb(27, 79, 114);
}

footer ul li a {
    color: rgb(255, 255, 255)!important;
    text-decoration: none !important;


}

.boton-final {
    background-color: rgb(133, 223, 84) !important;
    border-color: rgb(133, 223, 84) !important;
}

.card-text {
    font-size: 70%;
}
